<!DOCTYPE html>
<html>
<head>
	<title>Hacker News Clone Home</title>
	<style type="text/css"></style>
	<link rel="stylesheet" href="{{ static('css/hackernews/hackernews.css') }}">

</head>
<body>

<center>
	<table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        
<tbody>
			<tr><td bgcolor="#ff6600"><table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
		<tbody>
		<tr><td style="width:18px;padding-right:4px"><a href="{{ url('home') }}"><img src="/static/images/y18.gif" width="18" height="18" style="border:1px white solid;"></a></td>
                  <td style="line-height:12pt; height:10px;"><span class="pagetop"><b class="hnname"><a href="{{ url('home') }}">Hacker News</a></b>
              <a href="#">new</a> | <a href="#">past</a> | <a href="#">comments</a> | <a href="#">ask</a> | <a href="#">show</a> | <a href="#">jobs</a> | <a href="#">submit</a></span></td><td style="text-align:right;padding-right:4px;"><span class="pagetop">
                            {{ request.user.username }}  | <a href="{{ url('logout') }}">logout</a>
                          </span></td>
        </tr></tbody></table></td></tr>

    <tr id="pagespace" title="" style="height:10px"></tr>

    <tr><td><table border="0" cellpadding="0" cellspacing="0" class="itemlist">

    <tbody>

	{% for newslink in newslinks[::-1] %}
      <tr class="athing" id="">
      <td align="right" valign="top" class="title">
      	<span class="rank">
      	{{ (30*(newslinks.number-1))+loop.index }} 
      	</span>
      </td>
      <td valign="top" class="votelinks">
      	<center>
      		{% if newslink_votes.objects.filter(voted_by=request.user, newslink=newslink).exists() %}
      			&nbsp &nbsp
      		{% else %}
      			<a id="{{ newslink.id }}" class="vote" href="#">&nbsp &#x25B2 </a>
      		{% endif %}
      	</center>
      </td>
      <td class="title">
      	<a href="{{ newslink.title_link }}" class="storylink">{{ newslink.title }}</a>
      	<span class="sitebit comhead"> (<a href=""><span class="sitestr">{{ newslink.base_url }}</span></a>)</span>
      	<tr><td colspan="2"></td>
      		<td class="subtext">
        	<span class="score" id="score_19580860">{{ newslink.karma_points }}</span> by <a href="#" class="hnuser">{{ newslink.posted_by }}</a> <span class="age">on <a href="{{ url('comments', newslink_id=newslink.id) }}">{{ newslink.time_posted.strftime("%d %B, %Y") }}</a></span> | <a href="{{ url('comments', newslink_id=newslink.id) }}">{{ newslink.num_comments }}&nbsp;comments</a>              
        	</td>
        </tr>
      <tr class="spacer" style="height:5px"></tr>
    {% endfor %}
		
  	</tbody>

</table>

<div class="pagination">
		    <span class="step-links">
		        {# {% if newslinks.has_previous() %}
		            <a href="?page={{ newslinks.previous_page_number() }}"> << </a>
		        {% endif %} #}

		        {# <span class="current">
		            Page {{ newslinks.number }} of {{ newslinks.paginator.num_pages }} 
		        </span> #}

		        {% if newslinks.has_next() %}
		            &nbsp &nbsp <a href="?page={{ newslinks.next_page_number() }}"> more </a>
		        {% endif %}
		    </span>
		</div>
</td></tr>

</tbody>



        </table>
 


</center>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript">
$('.vote').on('click', function(e) {
    var newslink_id = $(this).attr("id");
    $.ajax({
        url: "{{ url('vote_newslink') }}",
        type: 'GET',
        data: {
        	'newslink_id': newslink_id,
        	'username': '{{ request.user.username }}',
        },
        success: function (res) {
        	$('#'+newslink_id).css("visibility", "hidden");
        	console.log('upvoted');
        },
        error: function (jqXHR) {
            console.log('unable to vote');
        }
    })
});

</script>
