<html>
<head>
	<title>Login - HackerNews Clone</title>
</head>
<body>
    <b>Login</b><br><br>
<form method="post" action=".">
	{% csrf_token %}
	<table border="0">
		<tr>
			<td>username:</td><td><input type="text" name="username" size="20" autocorrect="off" spellcheck="false" autocapitalize="off" autofocus="true"></td>
		</tr>
		<tr>
			<td>password:</td><td><input type="password" name="password" size="20"></td>
		</tr>
	</table><br>

<input type="submit" value="login"></form>
<!--
<b>Create Account</b><br><br>
<form method="post" action=><input type="hidden" name="goto" value="news">
	<table border="0">
		<tr>
			<td>username:</td><td><input type="text" name="acct" size="20" autocorrect="off" spellcheck="false" autocapitalize="off"></td>
		</tr>
		<tr>
			<td>password:</td><td><input type="password" name="pw" size="20"></td>
		</tr>
	</table><br>

<input type="submit" value="create account"></form>
-->
</body>
</html>