<html op="item"><head><meta name="referrer" content="origin"><meta name="viewport" content="width=device-width, initial-scale=1.0"><link rel="stylesheet" type="text/css" href="news.css?7orY7hm2Oh1MPMHDSbS8">
            <link rel="shortcut icon" href="favicon.ico">
        <title>My Laptop Bit Me – The Shocking Truth (2012) | Hacker News</title></head><body><center><table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tr><td bgcolor="#ff6600">

        	<table class="fatitem" border="0">
        <tbody><tr class="athing" id="19644206">
      <td align="right" valign="top" class="title"><span class="rank"></span></td>      <td valign="top" class="votelinks"><center><a id="up_19644206" onclick="return vote(event, this, &quot;up&quot;)" href="vote?id=19644206&amp;how=up&amp;auth=16def51e120e3021101c5657bdf504471b0b2456&amp;goto=item%3Fid%3D19644206"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><a href="http://enclydion.blogspot.com/2012/04/my-laptop-bit-me-shocking-truth.html" class="storylink"></a><span class="sitebit comhead"> (<a href="from?site=enclydion.blogspot.com"><span class="sitestr">enclydion.blogspot.com</span></a>)</span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_19644206">65 points</span> by <a href="user?id=tomduncalf" class="hnuser">tomduncalf</a> <span class="age"><a href="item?id=19644206">2 hours ago</a></span> <span id="unv_19644206"></span> | <a href="hide?id=19644206&amp;auth=16def51e120e3021101c5657bdf504471b0b2456&amp;goto=item%3Fid%3D19644206">hide</a> | <a href="https://hn.algolia.com/?query=My%20Laptop%20Bit%20Me%20%E2%80%93%20The%20Shocking%20Truth&amp;sort=byDate&amp;dateRange=all&amp;type=story&amp;storyText=false&amp;prefix&amp;page=0" class="hnpast">past</a> | <a href="https://www.google.com/search?q=My%20Laptop%20Bit%20Me%20%E2%80%93%20The%20Shocking%20Truth">web</a> | <a href="fave?id=19644206&amp;auth=16def51e120e3021101c5657bdf504471b0b2456">favorite</a> | <a href="item?id=19644206">39&nbsp;comments</a>              </td></tr>
            <tr style="height:10px"></tr><tr><td colspan="2"></td><td>
          <form method="post" action="comment"><input type="hidden" name="parent" value="19644206"><input type="hidden" name="goto" value="item?id=19644206"><input type="hidden" name="hmac" value="1d027bc480ea4751280811e9374f524dfc5e56cd"><textarea name="text" rows="6" cols="60"></textarea>
                <br><br><input type="submit" value="add comment"></form>
      </td></tr>
  </tbody></table>


{# {% for comment in comments %}
	{{ loop.index }} {{ comment.content }} <br>
{% endfor %} #}

{% for comment in comments %}
<table border="0">  <tbody><tr>    <td class="ind"><img src="s.gif" height="1" width="0"></td><td valign="top" class="votelinks"><center><a id="up_19645124" onclick="return vote(event, this, &quot;up&quot;)" href="vote?id=19645124&amp;how=up&amp;auth=ce5d7801097808f5c8b2f0348edb6fbf69ecaee6&amp;goto=item%3Fid%3D19644206#19645124"><div class="votearrow" title="upvote"></div></a></center></td><td class="default"><div style="margin-top:2px; margin-bottom:-10px;"><span class="comhead">
          <a href="user?id=CalChris" class="hnuser">{{ comment.posted_by }}</a> <span class="age"><a href="item?id=19645124">{{ comment.added_on }}</a></span> <span id="unv_19645124"></span><span class="par"></span> <a class="togg" n="1" href="javascript:void(0)" onclick="return toggle(event, 19645124)">[-]</a>          <span class="storyon"></span>
                  </span></div><br><div class="comment">
                  <span class="commtext c00">{{ comment.content }}</span>
              </div></td></tr>
      </tbody></table>
{% endfor %}